h1 {
    /color: white;
    size: 100px;
    text-shadow: 2px 2px 3px #222222;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 5px;
}

body {
    margin: 0 px;
    background-color: #fff;
}

header {
	background-color: #85e9ff;
    padding: 3px;
    background-color: #85e9ff;
    box-shadow: 0 4px 2px -2px #555;
}

#title {
    color: white;
    text-shadow: 2px 2px 3px #222222;
    font-family: "Arial Black", "Arial", "Times New Roman";
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 30px;
}

nav {
    text-align: center;
    font-family: "Arial", "Times New Roman";
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    padding: 20px;
    right: 2%;
    background-color: #fcf492;
}

nav a {
    color: #4455e0 ;
}

nav a:hover {
    color: #9070ad;
}

nav:visited {
    color: #412615;
}

img {
    align: center;
}

#content {
    font-family: "Georgia", "Garamond", "Bookman";
    font-size: 16px;
    padding: 0px;
}

footer {
    bottom: 0;
    padding: 10px;
    display: block;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    background-color: #bbd;
}